all-servers

bind-interfaces

interface=lo
interface={{ ansible_default_ipv4.interface }}

txt-record=_nfsv4idmapdomain.{{ domain }},"{{ domain }}"

{% for h in ptr %}{% for key, value in h.items() %}
address=/{{ key }}.{{ domain }}/{{ network | ipaddr(value) | ipv4('address') }}
ptr-record={{ network | ipaddr('222') | ipv4(value) | ipaddr('revdns') }},{{ key }}.{{ domain }}
{% endfor %}{% endfor %}
